.headingContainer {
  display: flex;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  padding: 90px 0;
}

.descriptionContainer {
  display: flex;
  gap: 32px;
  margin-top: 32px;
  justify-content: center;
}

.twinkle {
  position: absolute;
  bottom: 30%;
  right: -100px;
  height: 100px;
}

@media (max-width: 768px) {
  .descriptionContainer {
    justify-content: center;
  }

  .curvedDownArrowSky {
    display: none;
  }
}
