.myJourneySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 80px 0;
  /* border: 5px solid red; */
}

.introSection {
  width: 100%;
  /* border: 5px solid red; */
}

.headingContainer {
  display: flex;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  padding: 90px;
}

.twinkle {
  position: absolute;
  bottom: 30%;
  right: -10px;
  height: 100px;
}

.heading {
  color: var(--color-light);
  text-align: center;
}

.descriptionContainer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "left arrow right";
  gap: 32px;
  margin-top: 32px;
}

.leftDescription {
  grid-area: left;
  background: var(--gradient-sky);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-top: 300px;
  text-transform: uppercase;
}

.twoPathDownArrow {
  grid-area: arrow;
}

.rightDescription {
  grid-area: right;
  background: var(--gradient-sky);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (max-width: 1024px) {
  .descriptionContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "arrow right"
      "left left";
  }

  .leftDescription {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .descriptionContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "right"
      "left";
  }

  .twoPathDownArrow {
    display: none;
  }
}
