.PersonalProjectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 80px 0;
  /* border: 5px solid red; */
}

.introSection {
  width: 100%;
  /* border: 5px solid red; */
}

.headingContainer {
  display: flex;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  padding: 90px 0;
}

.twinkle {
  position: absolute;
  bottom: 30%;
  right: -100px;
  height: 100px;
}

.heading {
  color: var(--color-light);
  text-align: center;
}

.descriptionContainer {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

.leftDescription {
  background: var(--gradient-bless);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.rightDescription {
  background: var(--gradient-bless);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  margin-top: 300px;
}

@media (max-width: 1024px) {
  .rightDescription {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .descriptionContainer {
    flex-direction: column;
  }

  .twoPathDownArrow {
    display: none;
  }
}
